<div class="container">
    <div class="left-container">
        <div class="top-div">
            <app-filter (onFilter)="onFilter($event)"></app-filter>
        </div>        
        <div class="main-left-div">
            <app-users-list [users]="filteredUsers" (onUserSelected)="onUserSelected($event)"></app-users-list>
        </div>        
    </div>
    <div class="right-container">
        <app-user-details [user]="selectedUser" *ngIf="selectedUser !== null"></app-user-details>
    </div>
</div>
